
.profile {
    width: 300px;
    height: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 1%;
    box-shadow: 0px 0px 4px 1px rgb(122, 116, 116);
    position: relative;
    text-align: center;
    font-family: Arial, serif;
  }
  .description {
    padding-top: 30px;
  }
  .avatar {
    border-radius: 50%;
    margin: 0 auto 0;
  }
  .name {
    font-size: 18px;
    font-weight: 700;
  }
  .tag {
    font-size: 14px;
    font-weight: 400;
    color: rgb(122, 116, 116);
  }
  .location {
    font-size: 13px;
    font-weight: 600;
    color: rgb(122, 116, 116);
  }
  .stats {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100px;
    position: absolute;
    border-radius: 1%;
    bottom: 0px;
  }
  .stats li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100px;
    background-color: rgb(235, 236, 238);
    border: rgb(225, 228, 233) solid 1px;
    border-radius: 1%;
    transition: all 200ms linear;
    cursor: pointer;
  }
  .stats li:hover {
    background-color: rgb(219, 221, 223);
  }
  
  .label {
    display: block;
    font-size: 14px;
    color: rgb(122, 116, 116);
  }
  .quantity {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
  }